.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
  background-color: #212121;
}

.form {
  display: flex;
  flex-direction: column;
}

.formFirstName {
  background-color: white;
  padding: 1rem 2rem;
}

.form__button {
  display: block;
}